<header class="upperlogo">
    <%= link_to root_path do %>
    <%= image_tag("explain.png", width: "300", :align=> "middle") %>
    <% end %>
</header>
<div class="signup">
    지금 가입하세요! 고려대학교 분실물 최대 커뮤니티 고군분투!
</div>
<body>
    <p class="notice"><%= notice %></p>

    <p class="alert"><%= alert %></p>

 
        <% if current_user %>

        <%= link_to 'search', controller: 'crawls', index: 'viewfile' %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>

        <% else %>
        <div class ="buttons">
        <%= link_to '가입하기', new_user_registration_path, type: "button", class: "btn btn-default btn-lg" %>
        <%= link_to '로그인', new_user_session_path, type: "button", class: "btn btn-default btn-lg" %>
        </div>


    <% end %>
</body>


